.lead {
  width: 63rem;
}

.px-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leadParagraph {
  margin-top: 0.7rem;
}

.leadLastParagraph {
  margin-top: 2rem;
}

.homeTitle {
  background-image: linear-gradient(
    to left,
    #abacad,
    #c3c3c4,
    #d3d4d4,
    #e9ebec,
    #fffffff8
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media only screen and (max-width: 600px) {
  .lead {
    width: 18rem;
    font-size: 1rem;
  }
  .leadLastParagraph {
    margin-top: auto;
  }
}
