.projects {
  width: 50rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.project {
  width: 15rem;
  height: 3rem;
  background-color: #373e44;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.project:hover {
  border: 1px solid white;
}

.projectLink {
  text-decoration: none;
  color: white;
}

.projectLink:visited {
}
.projectLink:hover {
  color: white;
}
