.projectsTitle {
  background-image: linear-gradient(
    to left,
    #abacad,
    #c3c3c4,
    #d3d4d4,
    #e9ebec,
    #fffffff8
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.projects {
  width: 100rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.project {
  width: 20rem;
  height: 5rem;
  margin-right: 2rem;
  background-color: #373e44;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
}

.project:hover {
  border: 1px solid white;
}

.projectLink,
.projectWeb {
  text-decoration: none;
  color: white;
}

.projectLink:visited,
.projectWeb:visited {
  color: tomato;
}
.projectLink:hover,
.projectWeb:hover {
  color: tomato;
}

.projectWeb {
  font-size: 16px;
}

.projectLink {
  font-size: 20px;
}

.projectLink:visited:hover,
.projectWeb:visited:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  .projects {
    width: 15rem;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  .mb-auto {
    margin-bottom: 3rem;
  }
  .project {
    height: 3rem;
    width: 15.5rem;
    margin-bottom: 1rem;
  }
  .lead {
    margin-top: 0.5rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .projects {
    width: 40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project {
    margin-bottom: 3rem;
    width: 15rem;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  .projects {
    width: 80rem;
  }
}
