.projectsTitle {
  background-image: linear-gradient(
    to left,
    #abacad,
    #c3c3c4,
    #d3d4d4,
    #e9ebec,
    #fffffff8
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.projects {
  width: 50rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.project {
  width: 15rem;
  height: 3rem;
  background-color: #373e44;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.project:hover {
  border: 1px solid white;
}

.projectLink {
  text-decoration: none;
  color: white;
}

.projectLink:visited {
  color: tomato;
}
.projectLink:hover {
  color: white;
}
