<main class="px-3">
  <h1 class="homeTitle">Maider Landaribar Etxebarria</h1>
  <p class="lead">
    Hello, my name is Maider. I used to work as quality technitian and teacher
    as well.<br />
    Right now I am changing my professional area and looking for my first job.
  </p>

  <p class="lead leadParagraph">
    I like challenges and learning by doing. I adjust well to new environments.
    I have background working hand to hand with people. I am not afraid of
    facing issues and new languages as I always want to overcome myself. I am
    good at handling stress.
  </p>
  <p class="lead leadParagraph">
    My strongest hard skills are: Javascript, React Hooks, Axios,
    Node/Expressjs, Slonik, Postgres, CSS3, SASS, HTML5.
  </p>

  <p class="lead leadLastParagraph">I like to enjow with what I do.</p>
</main>
